{% extends 'base.html' %}

{% block content %}

<section class="hero-poli">
  <div class="wrap-poli">

    <h1 class="hero-titulo">
      {{ titulo }}
    </h1>

    {% if descricao %}
      <p class="hero-sub">
        {{ descricao }}
      </p>
    {% endif %}

  </div>
</section>


<section class="cards-poli">

  <div class="wrap-poli">

    {% if assuntos %}

      {% for assunto in assuntos %}

        <div class="mb-5">

          <h2 class="mb-3">
            {{ assunto.nome }}
          </h2>

          {% if assunto.descricao %}
            <p>
              {{ assunto.descricao }}
            </p>
          {% endif %}


          {% if assunto.perguntas.all %}

            {% for pergunta in assunto.perguntas.all %}

              <div class="card mb-3">

                <div class="card-body">

                  <h4 class="card-title">
                    {{ pergunta.pergunta }}
                  </h4>

                  <p class="card-text">
                    {{ pergunta.resposta }}
                  </p>

                </div>

              </div>

            {% endfor %}

          {% endif %}

        </div>

      {% endfor %}

    {% else %}

      <p>
        Nenhuma informação cadastrada nesta categoria.
      </p>

    {% endif %}

  </div>

</section>

{% endblock %}